DJANGO_SETTINGS_MODULE=core.settings.development
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SITE_NAME=تابلوسازی سپهراد
DJANGO_LANGUAGE_CODE=fa
DJANGO_TEXT_DIRECTION=rtl
DJANGO_TIME_ZONE=Asia/Tehran
DJANGO_LOG_LEVEL=INFO
DJANGO_CONTACT_PHONE=09126655379
DJANGO_CONTACT_PHONE_DISPLAY=۰۹۱۲ ۶۶۵ ۵۳۷۹
DJANGO_CONTACT_ADDRESS=رباط‌کریم، ایران
DATABASE_URL=postgres://sepehrad:sepehrad@localhost:5432/sepehrad
